.greycolor{
    text-shadow: "0px 0px grey";
}
/* body{
    background-color: rgb(100, 37, 100);
    color: white;

} */
.rotateanimation{
    animation: rotate 2s ease-in-out infinite;
    /* height: 40px; */
    /* width: 40px; */
    overflow:none;
    margin: auto;
    margin-top: 10px;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.stickynavbar{
    position: fixed;
    top: 0px;
    z-index:10;
    width: 100%;
}
.breadcrumb {
    margin-top: 60px;
}
.darkbtn{
   position:absolute;
   right: 50px;
}
.text-body-secondary{
    color: whitesmoke;
}
@media screen and (max-width:1000px) {
    .darkbtn{
        position: sticky;
    }
}